.navbarWrapper {
  background-color: rgb(33, 26, 30);
}

.navbarItem {
  color: white !important;
  font-size: 1.25rem;
}

.navbarImageWrapper {
  padding: 0 !important;
  margin: 0 !important;
}

.navbarImage {
  height: 30px !important;
  width: 80px !important;
  padding: 0px !important;
}
