.footer-links {
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.footer-navbar {
  background-color: #272822;
  position: absolute;
  bottom: 0;
}

.footer-img {
  color: white;
  width: 50%;
  height: auto;
}

.footer-icon {
  size: 2em;
  color: white;
}
