body {
  font-family: "Signika", sans-serif;
}

.main-content {
  flex-direction: column;
}

.background {
  background-image: url("../images/bg.png");
  background-size: cover;
}

.greyBackground {
  background-color: rgb(220, 220, 220);
  padding: 20px;
  display: flex;
  justify-content: center;
}

em {
  color: #3d52d5;
  font-size: 52;
  font-style: normal;
}

.image {
  margin-left: 5rem;
  width: 25rem;
  height: 20rem;
}

.textBlock h1,
h5 {
  text-align: center;
  color: black;
  font-family: Circular !important;
}

.textBlock h2 {
  text-align: center;
  margin-top: 2.5rem;
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

.image {
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .textBlock {
    margin-top: 2rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 770px) {
  .image {
    margin-left: 0;
  }
}
