body {
  font-family: "Signika", sans-serif;
}

.main-content {
  flex-direction: column;
}

em {
  color: #3d52d5;
  font-size: 52;
  font-style: normal;
}

.image {
  margin-left: 5rem;
  width: 25rem;
  height: 20rem;
}

.textBlock h1,
h2,
h5 {
  text-align: center;
  color: black;
  font-family: Circular;
}

.image {
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .textBlock {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .image {
    margin-left: 0;
  }
}
