.nav-image {
  width: 5rem;
}

.header-navbar {
  align-items: flex-start;
}

.profile-nav {
  border-color: #3d52d5 !important;
}

.profile-nav-img {
  background-color: white;
  border-radius: 50px;
}

#navbarNavLoggedIn {
  width: 24rem;
}

body {
  font-family: "Signika", sans-serif;
}

i {
  font-size: 2em !important;
  margin: 0 0.5em;
}

.bubble-background {
  background-image: url("images/paint.png");
  background-position-x: center;
  background-position-y: center;
}

.bubble-background-about {
  background-image: url("images/paint.png");
}

.bubble-background-how {
  background-image: url("images/paint.png");
  background-position-x: center;
  background-position-y: center;
}

.bubble-background-form {
  background-image: url("images/paint-light.png");
  background-position-x: center;
  background-position-y: center;
}

.bubble-background-form form {
  width: 75%;
}

.bubble-background-form form label {
  margin-bottom: 0 !important;
}

.bubble-background-form form .form-group {
  padding-bottom: 0.7em;
}

.header-navbar {
  background-color: #3d52d5 !important;
  /* background: rgb(61,82,213) !important;
  background: linear-gradient(90deg, rgba(61,82,213,1) 0%, rgba(255,255,255,1) 90%) !important; */
}

.footer-navbar {
  background-color: #3d52d5;
}

.footer-img {
  width: 50%;
  height: auto;
}

.how-img {
  width: 20em;
  height: auto;
}

.white {
  color: white;
}

.dot-img {
  width: auto;
  height: 13%;
}

.about-img {
  width: 20%;
  height: auto;
  margin-left: 5rem;
}

.news-text {
  color: white;
  width: 20rem;
  height: auto;
}

.light-blue-background {
  background-color: #d7dcfa;
}

.dark-blue {
  color: #090c9b;
}

.links {
  margin-left: 0.2rem;
}

.links:hover {
  color: red;
  text-decoration: none;
  transition: ease-in 0.3;
}

.main-content {
  flex-direction: column;
}

.btn-blue {
  background-color: #3d52d5;
  border-color: #3d52d5;
  color: white;
}

.btn-blue:hover {
  background-color: #2335a2;
  border-color: #2335a2;
  color: white;
  transition: ease-in 0.3;
}

.btn-blue-inverse {
  background-color: white;
  border-color: #3d52d5;
  color: #3d52d5;
}

.btn-blue-inverse:hover {
  background-color: #d7dcfa;
  border-color: #3d52d5;
  color: #3d52d5;
  transition: ease-in 0.3;
}

.circle {
  border-radius: 50%;
  background: rgba(255, 71, 218, 0.5);
  height: auto;
  width: 100%;
}

.blue-circle {
  border-radius: 50%;
  background: rgba(61, 82, 213, 0.5);
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: auto;
  width: 100%;
}

.wavy-circle {
  position: absolute;
  width: 200px;
  height: 20px;
  background: radial-gradient(
    16px,
    transparent,
    transparent 4px,
    rgba(255, 71, 218, 0.5),
    4px,
    rgba(255, 71, 218, 0.5) 10px,
    transparent 11px
  );
  background-size: 30px 40px;
}

.circle2 {
  /* Offset to make squigglies line up */
  top: 20px;
  left: 15px;
  background-position: 0px -20px;
}

.holder {
  position: relative;
  width: 200px;
  height: 50px;
  left: 140;
  top: -20;
}

.clip {
  /* Clip edges, as some of the lines don't terminate nicely. */
  overflow: hidden;
}

em {
  color: #3d52d5;
  font-size: 52;
  font-style: normal;
}

.quotes {
  font-family: "Baloo Da 2", cursive;
}

.quote-container .dark-blue {
  color: #090c9b;
}

.quote-container .light-blue {
  color: #6777de;
}

.quote-container .blue {
  color: #2335a2;
}

.bubble-container {
  width: 25vw;
}

.bubble-img {
  width: auto;
  height: 20rem;
}

.news-img {
  height: 20%;
  width: auto;
}

.media-dot img {
  height: 15%;
  width: auto;
  margin-top: 6.5em;
}

.footer-links {
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.news-links-carousel {
  display: none;
}

.circle-img {
  width: 100%;
  height: auto;
}

.blue-logo {
  width: 20rem;
  height: auto;
}

.table-dark {
  background-color: #3d52d5 !important;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #090c9b !important;
}

.school-map {
  width: 100%;
  max-width: 55em;
}

.info-title {
  margin-top: 1em;
  text-align: center;
}

.info-title h1 {
  font-family: "Signika", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: 0.012rem;
  color: #4155ce;
}

.info-box {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  color: #21242c;
}

.info-wrapper {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

#state-more-info {
  width: 90%;
  text-align: left;
  color: #21242c;
}

#state-more-info ul {
  position: relative;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  padding-left: 0.5em;
}

#state-more-info li {
  text-align: left;
  padding-bottom: 0.9em;
}

@media screen and (max-width: 600px) {
  .info-title h1 {
    font-size: 1.2rem;
  }
  .info-box {
    font-size: 0.8em;
  }
  #state-more-info li {
    font-size: 0.8em;
  }
}

.counter-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px !important;
  padding: 28px;
  min-width: 290px;
}

@media only screen and (max-width: 600px) {
  .counter-title h1 {
    font-size: 32px !important;
  }
}

.match-wrapper {
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .match-wrapper {
    display: inline;
  }
}

.match-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.match-icon {
  margin-bottom: auto;
  height: auto;
  max-height: 130px;
  width: 150px;
  margin: 0 auto;
}

.match-info h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #4155ce;
  margin-top: 25px;
}

@media only screen and (max-width: 768px) {
  .match-info h2 {
    font-size: 36px;
  }
}

.match-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #21242c;
}
@media only screen and (max-width: 768px) {
  .match-info p {
    font-size: 20px;
  }
}

.baby-blue-background {
  background-color: #9fabe8;
}

@media only screen and (min-width: 1100px) {
  .big-news-links-carousel {
    display: inline;
  }
}

@media only screen and (max-width: 1100px) {
  .news-links {
    display: none;
  }

  .news-links-carousel {
    display: inline;
  }

  .big-news-links-carousel {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .holder {
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .circle {
    width: 20em;
    height: 20em;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .circle-img {
    width: 20em;
    height: 20em;
  }

  .blue-circle {
    width: 20em;
    height: 20em;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .logo-img {
    width: 20em;
    height: 20em;
  }
}

@media only screen and (max-width: 600px) {
  .table-container {
    height: 150vh !important;
  }

  .how-container {
    height: 120vh !important;
  }

  .about-img {
    width: 50%;
    height: auto;
  }

  .bubble-background-about {
    background-image: url("images/paint.png");
    background-position-x: center;
    background-position-y: center;
  }

  .bubble-background {
    background-image: url("images/paint.png");
    background-position-x: center;
    background-position-y: center;
  }

  .circle {
    width: 15em;
    height: 15em;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .circle-img {
    width: 15em;
    height: 15em;
  }

  .blue-circle {
    width: 15em;
    height: 15em;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .logo-img {
    width: 15em;
    height: 15em;
  }
}

@media only screen and (max-width: 499px) {
  .who-row {
    width: 100vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .top-section {
    height: 130vh !important;
  }

  .how-container {
    height: 130vh !important;
  }

  .date-table {
    font-size: small;
  }
}

@media only screen and (max-width: 321px) {
  .top-section {
    height: 160vh !important;
  }

  .top-section-2 {
    height: 130vh !important;
  }

  .how-container {
    height: 170vh !important;
  }
}

.alert {
  margin-bottom: 0 !important;
}

.footer {
  background: url(./images/footer-bg.jpg);
  padding-bottom: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  background: url(./images/footer-bg.jpg);
  padding-bottom: 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.pdn-top-30 {
  padding-top: 35px;
}

.backgroundWrapper {
  background-image: url("images/default-image.jpg");
  /* background-position-x: center;
  background-position-y: center; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagestack {
  background-image: url("images/default-image.jpg");
  background-position-x: center;
  background-position-y: center;
}
