body {
  font-family: "Signika", sans-serif;
}

i {
  font-size: 2em !important;
  margin: 0 0.5em;
}

.main-content {
  flex-direction: column;
}

.holder {
  position: relative;
  width: 200px;
  height: 50px;
  left: 140;
  top: -20;
}

.clip {
  /* Clip edges, as some of the lines don't terminate nicely. */
  overflow: hidden;
}

em {
  color: #3d52d5;
  font-size: 52;
  font-style: normal;
}

/* .backgroundWrapper {
  background-image: url("images/default-image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
